body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.input-container input {
  flex-grow: 1;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 24px;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 20px 40px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.score {
  background-color: #FFF;
}

.visits {
  background-color: #FFF;
}

.green {
  background-color: #4CAF50;
  color: #FFF;
}

.red {
  background-color: #F44336;
  color: #FFF;
}


.normatives-container {
  display: none;
  margin-top: 40px;
}

.normative-item {
  display: flex;
  align-items: center;
}

.normative-item .icon {
  margin-right: 8px;
  font-size: 24px;
  color: #4CAF50;
}
